// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Themes
$primary      : #FF9F1C;
$secondary    : #2EC4B6;
$danger       : #FE3A3A;
$success      : #24BB2A;
